form{
  // Typography
  text-transform: uppercase;
  max-width: 500px;
  margin: 0 auto;
  @media (max-width: 480px) {
    max-width: 320px;
  }
  label{
    color: #000;
    letter-spacing: 3px;
  }

  // Checkboxes
  ul{
    width: 100%;
    &:after{
      content: "";
      clear: both;
      display: table;
    }
  }
  ul li{
    text-align: center;
    float: left;
    margin: 15px;
    input[type=checkbox] {
      display: none;
    }
    input[type=checkbox] + label{
      line-height: 20px;
      cursor: pointer;
      display: inline-block;
      width: 120px;
      height: 120px;
      border-radius: 300px;
      line-height: 120px;
      vertical-align: middle;
      background: #222;
      border: 5px solid transparent;
      transition: all .2s ease;
      color: #fff;
      &:hover{
        background: #444;
      }
    }
    input[type=checkbox]:checked + label{
      // transform: scale(.8);
      border: 5px solid #50E3C2;
    }


  }

}